/******************************/
/*       UONBegin - CSS       */
/******************************/

/*    This CSS file will serve as the main stylesheet for each of the UONBegin website pages    */
/*  !!  NOTE: This stylesheet is VERY basic at the moment and will require many adjustments in future  !!  */

@charset "UTF-8";

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma;
}


/*********************************/
/*         Header stuff          */
/*********************************/

#header							 /* controls the "UONBegin" header and the background - will ultimately be replaced by the UONBegin logo jpeg image */
{
	background-color: slategrey;
	overflow: hidden;
	color: white;
	padding-left: 20px;
}


/*********************************/
/*         Navbar stuff          */
/*********************************/

ul								 /* controls positioning of the list as a whole */
{
	float: right;
	padding-right: 50px;

}

li								 /* controls positioning/properties of list items */
{
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	background-color: #4ab7ff;
	transform: skew(-15deg);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

nav
{
	align-content: center;
	transform: skew(-15deg);
	width: 95%;
	margin: auto;
	background-color: #4ab7ff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

nav a							 /* controls list item color and decoration */
{
	color: white;
	text-decoration: none;
	padding-left: 5%;
}

nav a:hover
{
	color: #f2f542;
}


/**********************************************************************************************/
/*         Big Blue Banner stuff (this box can also be used for other pages later on)         */
/**********************************************************************************************/

#homepage-banner				 /* controls banner positioning, color, size and skew */
{
	margin: auto;
	background: #33A8FF;
	text-align: center;
	width: 800px;
	height: 300px;
	transform: skew(-15deg);
}


#banner-text					 /* controls banner text color and skew (NOTE: skew has been added here as a cheap way of counteracting the skew of the homepage banner box - keeps the text straight) */
{
	color: #fff;
	font-size: 1.5em;
	transform: skew(15deg);
}





/*********************************/
/*         Chatbot stuff         */
/*********************************/


#chatbot-head
{
	background-color: #33A8FF;
	padding-bottom: 100px;
	width: 150px;
}

#chatbot-header
{
	color: #fff;
	padding-left: 5px;
	text-align: center;
	display: grid;
	place-items: center;
}


footer
{
	padding: 40px;
	color: #fff;
	background-color: slategrey;
	height: 100px;
	width: 100%;
	bottom: 0;
	text-align: center;
	display: grid;
	place-items: center;
}

/*This is a dirty fix */
.loginForm {
	margin-bottom: 30%;
}







/* --- Scrap - might use later... --- */

/*#box-text
{
	transform: skew(20deg);
}*/


/*#heading
{
	color: #fff;
}*/


/*	background-color: slategrey;
	/*overflow: hidden;
	text-align: center;
	padding-bottom: 10px;*/
